/* Element styling */
body {
  font-family: 'Bungee Inline', cursive;
  background: black;
  color: white;
  min-width: 300px;
}

.heading {
  line-height:100px;
  margin-top: 20px;
}
h1 {
  font-family: 'Bungee Inline', cursive;
  font-weight: normal;
  text-align: center;
  font-size: 5rem;
  margin: 4px !important;
}

.container {
  margin: auto;
}

/* Table CSS */
table {
  margin: auto;
  border-collapse: collapse;
  background: slategray;
  transition: background-color 3.5s ease-in-out;
}

td {
  border: 5px solid white;
  font-family: 'Pangolin', cursive;
  font-size: 5rem;
  width: 130px;
  height: 130px;
  align-content: center;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color:black;
  transition: background-color .1s ease-in-out;
}


/* Game message styling (Above TTTboard) */
.game-message {
  display: none;
  text-align: center;
  justify-content: center;
  margin-top: 15px; 
  margin-bottom: 10px;
}

.text {
  color: #A4A63C;
}


/* Game message styling (below the tttboard) */
.buttons,
.new-game,
.choose-symbol,
.score-div-top {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 30px;
  text-align: center;
  align-items: center;
  color: #3A8831;
}

.new-game,
.choose-symbol,
.score-div-top {
  align-content: center;
  justify-content: center;
}


/* Choose number of players popup */
.new-game-p {
  /* line-height: 30px; */
  display: inline;
  padding-right: 10px;
  margin: 0;
  vertical-align: middle;
  align-content: center;
  /* padding-top: 10px; */
}

.one-player {
  /* display: inline; */
  margin-right: 10px;
}

/* .two-players {
  
} */

.one-player,
.two-players,
.symbol {
  /* display: inline; */
  width: 60px;
  font-family: 'Bungee Inline', cursive;
  background: #011B41;  /* fallback for old browsers */
  border-radius: 10px;
  box-shadow: 6px 5px 24px #0f0c29;
  color: #A4A63C;
  font-size: 1rem;
  padding: 5px;
  text-decoration: none;
  cursor: pointer;
}
.one-player:hover,
.two-players:hover,
.symbol:hover {
  background: #9B0712;
  background: linear-gradient(to right, #AA1D2E, #890010, #73000D);
  text-decoration: none;
}
.one-player:focus,
.two-players:focus,
.symbol:focus  {
  background: #AA1D2E;
  outline: 0;
}


/* Choose the symbol for player 1*/
.choose-symbol-p {
  line-height: 25px;
  display: inline;
  margin: 0;
  padding-right: 10px;
  color: #3A8831;
}

.crossSelection,
.naughtSelection {
  display: inline;
  margin-right:10px;
}

/* Display Score for current match */
.score-div-top {
  display: none;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 30px;
}

.score-divider,
.score-div1,
.score-div2 {
  display: inline;
  font-size: 2rem;
  margin: 0;
}

.score-div1 {
padding-right: 30px;
}

.score-div2 {
  padding-left: 30px;
}


/* Buttons initial display form */
.reset {
  display: inline-block;
}

.continue {
  visibility: hidden;
}


/* electrocolours */
.color1 {
  color: #AA5239;
}

.color2 {
  color: #2F456E;
}

.color3 {
  color: #3A8831;
}

.color4 {
  color: #413272;
}

.color5 {
  color: #A4A63C;
}

.color6 {
  color: #276B5C;
}

.color7 {
  color: #9E3947;
}

.color8 {
  color: #A77D3C;
}

.color9 {
  color: #8A325D ;
}


/* ON HOVER - SET BACKGROUND */
.pos1:hover {
  background: #AA5239;
}

.pos2:hover {
  background: #2F456E;
}

.pos3:hover {
  background: #3A8831;
}

.pos4:hover {
  background: #413272;
}

.pos5:hover{
  background: #A4A63C;
}

.pos6:hover {
  background: #276B5C;
}

.pos7:hover {
  background: #9E3947;
}

.pos8:hover {
  background: #A77D3C;
}

.pos9:hover {
  background: #8A325D;
}


/* animation background colours */
.colour1 {
  background-color: #AA5239;
}

.colour2 {
  background-color: #2F456E;
}

.colour3 {
  background-color: #3A8831;
}

.colour4 {
  background-color: #413272;
}

.colour5 {
  background-color: #A4A63C;
}

.colour6 {
  background-color: #276B5C;
}

.colour7 {
  background-color: #9E3947;
}

.colour8 {
  background-color: #A77D3C;
}

.colour9 {
  background-color: #8A325D ;
}


/* --- Button Styling --- */
#reset-button {
  margin-right: 20px;
  font-family: 'Bungee Inline', cursive;
  width: 120px;
  background: #011B41;  /* fallback for old browsers */
  background: linear-gradient(to right, #CA0018, #950011, #62000B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 10px;
  box-shadow: 6px 5px 24px #0f0c29;
  color: #A4A63C;
  font-size: 1rem;
  padding: 5px;
  text-decoration: none;
  cursor: pointer;
}

#reset-button:hover {
  background: #9B0712;
  background: linear-gradient(to right, #AA1D2E, #890010, #73000D);
  text-decoration: none;
}

#reset-button:focus {
  background: #AA1D2E;
  outline: 0;
}

#continue-button {
  margin-left: 20px;
  font-family: 'Bungee Inline', cursive;
  width: 120px;
  background: #011B41;  /* fallback for old browsers */
  background: linear-gradient(to right, #1B3D70, #082C61, #011B41); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 10px;
  box-shadow: 6px 5px 24px #0f0c29;
  color: #A4A63C;
  font-size: 1rem;
  padding: 5px;
  text-decoration: none;
  cursor: pointer;
}

#continue-button:hover {
  background: #2079b0;
  background-image: linear-gradient(to bottom, #142C73, #0A2574, #021F75);
  text-decoration: none;
}

#continue-button:focus {
  background: #142C73;
  outline: 0;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn .5s ease-in 1 forwards;
}


/* ### Media Queries ### */
@media only screen and (max-width: 666px) {
  h1 {
    font-size: 3.5rem;
  }
}

@media only screen and (max-width: 475px) {
  h1 {
    font-size: 2.5rem;
  }

  /* Table CSS */
  td {
    border: 4px solid white;
    font-size: 3.5rem;
    width: 100px;
    height: 100px;
  }

  .game-message {
    margin: 0;
  }
  
  .text {
    color: #A4A63C;
    font-size: 1.2rem;
    margin-bottom: 15px;
  }

  .new-game,
  .score-div-top,
  .choose-symbol {
    font-size: 1.2rem;
  }

  .choose-symbol {
    margin-left: 40px;
  }

  .score-div1,
  .score-div2 {
    font-size: 1.5rem;
  }

  .score-divider {
    display: none;
  }
}

@media only screen and (max-width: 366px) {
  h1 {
    font-size: 2rem;
  }

  /* Table CSS */
  td {
    border: 3px solid white;
    font-size: 3rem;
    width: 90px;
    height: 90px;
  }

  .game-message {
    margin: 0;
  }
  
  .text {
    color: #A4A63C;
    font-size: .8rem;
    margin-bottom: 15px;
  }

  .new-game,
  .score-div-top {
    font-size: .8rem;
  }

  .choose-symbol {
    font-size: .8rem;
    margin-left: 20px;
  }

  .score-div1,
  .score-div2 {
    font-size: 1rem;
  }

  .score-divider {
    display: none;
  }
}